html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

body{
    border: 10px solid;
    border-radius: 5px;
    border-color: rgb(4, 97, 11);
}
.calculator{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(29, 49, 29);
}

.textbox{
    background-color: rgb(147, 225, 180);
    height: 50px;
    color: darkgreen;
    padding: 10px;
    font-weight: bold;
    word-wrap: break-word; /* Enable word wrapping */
    text-align: end; 
}
.row {
    display: flex;
    gap: 5px;
}
button {
    height: 50px;
    width: 50px;
    background-color: rgb(40, 72, 51);
    color: white;
}

.operator {
    background-color: rgb(40, 104, 14);
}

.clear {
    background-color: rgb(118, 7, 7);
}

.equals {
    background-color: rgb(133, 164, 20);
}

.back , .dot{
    flex : 1;
    font-weight: bold;
}